{% extends "base.html" %}

{% set title = "Main" %}

{% block content %}
<a href="{{ url('capture') }}">Capture</a>
{% if images %}
    <table>
    	<tr>
    		<th>link</th>
    		<th>iso</th>
    		<th>tv</th>
    		<th>av</th>
    		<th>fl</th>
    		<th>fl 35mm</th>
    	</tr>
    	{% for img in images %}
    	<tr>
    		<td><a href="{{ img.url }}">{{ img.url }}</a></td>
    		<td>{{ img.iso }}</td>
    		<td>{{ img.tv }}</td>
    		<td>{{ img.f_number }}</td>
    		<td>{{ img.focal_length }}</td>
    		<td>{{ img.focal_length_35 }}</td>
    	</tr>
    	{% endfor %}
    </table>
{% else %}
    <p>No images.</p>
{% endif %}

{% endblock %}
